<mat-toolbar color="primary" class="expanded-toolbar background" >
  <a _ngcontent-c1="" aria-label="Angular Material" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false" href="/">
    <span class="mat-button-wrapper">
      <img _ngcontent-c1="" alt="angular" class="docs-angular-logo" src="../assets/img/logo.png">
      </span><div class="mat-button-ripple mat-ripple" matripple="">
     </div>
      <div class="mat-button-focus-overlay"></div>
    </a>
</mat-toolbar>

<router-outlet></router-outlet>

